.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: var(--space-lg) var(--size-gutter) 0;
  max-width: var(--size-max-width);
  // container: nav-container / inline-size;
  // border: 1px solid cyan;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  gap: var(--space-lg);
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
}

.navigationItem a {
  border-bottom: 1.5px solid transparent;
  color: currentColor;
  text-decoration: none;
}

.navigationItem a:hover {
  border-bottom-color: var(--primary);
  color: var(--primary);
}

.logoLink {
  &:hover {
    img {
      filter: invert(70%);
      // opacity: .5;
      // border: 2px solid red;
    }
  }
}

label {
  span {
    display: none;
  }
}

@container body (max-width: 767.98px) {
  .container {
    padding-left: calc(var(--size-gutter)/4);
    padding-right: calc(var(--size-gutter)/4);
  }
  .logoLink {
    transform: scale(0.8, 0.8);
  }
}
// @container main (min-width: 768px) {}
// @container main (min-width: 1024px) {}




