.site-name {
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 80vh;
	h1 {
		font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
		-ms-writing-mode: tb-rl;
		writing-mode: vertical-rl;
	}
}