@charset "UTF-8";
// sass --watch --no-source-map src/scss/style.scss:assets/css/style.css
// sass --watch --no-source-map --style=compressed src/scss/index.scss:assets/css/index.css

.wrapper {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 1fr;
	align-items: center;
	height: 100svh;
	text-align: center;
}
a {
	color: #111;
	text-decoration: none;
}