.article {
	// display: grid;
	max-width: var(--size-max-width);
	font-size: var(--text-prose);
	line-height: var(--loose);
	padding: var(--size-gutter) var(--size-gutter) calc(var(--size-gutter) * 1.2);
	border:4px solid green;
	// text-align: center;
}

.contact {
	border:1px solid pink;
	margin: 0 auto;
	// width: 50%;
	// margin-top: var(--space-3xl) auto;
	// display: inline-block;
	// display: flex;
	// max-width: var(--size-max-width);
	label {
		// display: flex;
		margin-bottom: var(--space-xl);
		span:nth-of-type(1){
			// width: 30%;
			padding: 1em 0;
			display: block;
		}
		// span:nth-of-type(2){
		// 	// width: 70%;
		// }
		// border:1px solid #ddd;
		// flex-wrap: wrap;
		// span {
		// 	width: 50%;
		// }
	}
	input[type=tel],
	input[type=email],
	input[type=text],
	textarea {
		width: 100%;
		background: #f9f9f9;
		padding: 1em;
		border: 1px solid #f5f5f5;
		border-radius: 4px;
		&:focus {
			outline: 2px solid #abcedc;
		}
	}
	


	// grid-area: about;
	// border-top: 1px solid #ddd;
	// padding: var(--space-3xl) var(--space-2xl);
	// font-family: var(--font-min);
}

	input[type=button],
	input[type=submit] {
	background: #282828;
	text-align: center;
	margin: 20px auto;
	color: #fff;
	width: 100%;
	padding: 14px 0;
	line-height: 2em;
	border: 0;
	border-radius: 4px;
	cursor: pointer;
	&:hover{
		background: #666;
	}
}
@media (min-width: 1024px) {
	.article {
		width: calc(85% - var(--size-gutter));
		// display: block;
		margin: 0 auto;
	}
}



// @media (min-width: 1200px) {
// 	.article {
// 		// width: calc(85% - var(--size-gutter));
// 		// width: 85%;
// 		// max-width: var(--size-max-width);
// 	}
// }

