:root {
--font-min: 游明朝, "Yu Mincho", YuMincho, serif;
}

.article {
	display: grid;
	font-size: var(--text-prose);
	letter-spacing: var(--text-prose-tracking);
	line-height: var(--loose);
	grid-template-areas:
		"desc"
		"profile"
		"about"
		"service"
		"design";
}

.desc {
	grid-area: desc;
	writing-mode: vertical-rl;
	text-orientation: upright;
	height: 500px;
	max-height: 90vh;
	margin: 0 auto var(--space-3xl) auto;
	h1 {
		font-size: var(--text-title);
		font-family: serif;
	}
	p {
		padding-bottom: var(--space-2xl);
		padding-bottom: 0;
		margin-top: calc(var(--space-2xl) * 2);
	}
}

.profile {
	grid-area: profile;
	display: flex;
	align-content: end;
	margin: 0 auto;
	article {
		margin: auto 0 0 auto;
		img {
			max-width: 200px;
		}
	}
	dl {
		padding: 0 var(--space-xl)  var(--space-md);
		border-left: 4px solid #ddd;
		border-bottom: 4px solid #ddd;
		border-radius: 50%;
	}
}

a.sns {
	display: block;
	max-width: 30px;
	margin: 20px auto 0;
	img {
		opacity: 0.6;
	}
}
.info {
	margin-top: 2rem;
	padding-left: 4.5em;
	text-indent: -4.5em;
	span {
		font-family: var(--font-sans);
		margin-right: 40px;
	}
	a.sns {
		vertical-align: middle;
		vertical-align: text-bottom;
		
		display: inline-block;
	}
}

.about {
	grid-area: about;
	margin-top: var(--space-3xl);
	border-top: 1px solid var(--aboutBorder);//#ddd;
	padding: var(--space-3xl) var(--space-2xl);
	font-family: var(--font-min);
	font-feature-settings: "palt";
}

.service {
	grid-area: service;
	border-top: 1px solid var(--aboutBorder);//#ddd;
	padding: var(--space-3xl) var(--space-2xl);
	p {
		font-family: var(--font-min);
	}
}

.design {
	grid-area: design;
	padding: var(--space-lg) var(--space-2xl) ;
	p {
		font-family: var(--font-min);
	}
}

// 3dod HR
hr {
	border: 0;
	height: 2em;
	margin-bottom: 1.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	&::before {
		content: '•••';
		letter-spacing: 2.5em;
		opacity: .75;
	}
}

@container main (min-width: 1024px) {
	.article {
		// width: calc(85% - var(--size-gutter));
		padding: var(--size-gutter) var(--size-gutter) calc(var(--size-gutter) * 1.2);
		gap: var(--space-xl);
		margin: 0 auto;
		grid-template-areas:
		"desc profile"
		"about about"
		"service service"
		"design design";
	}
	h1 {
		margin-top: calc(var(--space-3xl) * -1);
	}
	.profile {
		article {
			img {
				max-width: 250px;
			}
		}
	}
}

@container main (min-width: 1200px) {
	.article {
		width: calc(85% - var(--size-gutter));
	}
}
// @container main (max-width: 767.98px) {}
// @container main (min-width: 768px) {}
// @container main (min-width: 1024px) {}
// background: cyan;
// border:1px solid #000;
// border:1px solid green;
// border: 1px solid salmon;
// 	background-size: cover;
// 	transform: scale(-1, -1);
// border: 1px solid cyan;
// 	border: 1px solid pink;
// 	border: 1px solid cyan;
// background: var(--background);
// background: var(--background);
// background: pink;
// background: #000;
// border:1px solid pink;
// border:1px solid tomato;
// font-family: var(--font-min);
// border: 1px solid salmon;