.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: var(--space-3xl);
}

.title {
  display: inline-block;
  font-size: var(--text-lg);
  margin-bottom: var(--space-xs);
  margin-top: var(--space-lg);
  border-bottom: 1.5px solid transparent;
	// border: 1px solid tomato;
}

.link {
  text-decoration: none;
}

.link:hover .title {
  border-bottom-color: var(--primary);
}

.meta {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
	// border: 1px solid tomato;
}

//   .article-list {
//     grid-template-columns: repeat(3, 1fr); // 横に3つ並べる
//   }
// }
