.intoro {
	background: url(../asset/img/marc-olivier-jodoin-j2veIzsS9sY-unsplash-1680.avif);
	// background-size: contain;
	background-size: cover;
	background-position: center;	
	filter: saturate(70%);
	width: 100%;
	height: 40dvh;
	margin: var(--space-xl) 0 0;
	padding: 0 var(--space-2xl);
	display: flex;
	align-items: center;
	color: rgba(#fdfdfd,.75);
	p {
		font-size: calc(var(--text-title) * 1.2);
		line-height: var(---default);
		font-weight: var(--body);
		margin: initial;
	}
}

.title {
	font-size: var(--text-3xl);
	font-weight: var(--body);
	line-height: var(--solid);
	text-transform: uppercase;
	margin: 0;
}

@container main (min-width: 1024px) {
	.intoro {
		height: 45dvh;
		padding: var(--space-3xl);
	}
}

@container main (min-width: 1200px) {
	.intoro {
		background-attachment: fixed;
		background-position: center;
		background-position: bottom;
		background-position: 0 -510px;
	}
}

@container main (min-width: 1400px) {
	.intoro {
		background-position: 0 -75dvh;
	}
}

// color: cyan;
// font-size: var(--text-5xl);
// font-size: var(--text-3xl);
// text-align: center;
// border: 1px solid tomato;
// color: var(--white);
// padding-bottom: var(--text-title);
// min-height: var(--text-title);
// display: block;
// border: 1px solid pink;
// padding-bottom: 50px;
// width: 100%;
// position: fixed;
// font-size: var(--text-title);