.tags {
  display: flex;
  gap: var(--space-md);
  // margin-top: var(--space-3xl);
}
.center {
  display: flex;
  gap: var(--space-md);
  justify-content: center;
}

.tag {
  background-color: var(--black-fade-5);
  border-radius: var(--radius-sm);
  line-height: var(--solid);
  padding: var(--space-sm) var(--space-md);
  a {
    padding: var(--space-md);
    border: initial!important;
    display: block;
  }
}

.tagPreview {
  background-color: var(--black-fade-5);
  border-radius: var(--radius-sm);
  line-height: var(--solid);
  padding: var(--space-sm) var(--space-md);
  a {
    border: initial!important;
    display: block;
  }
}

